:root{
  --black:#1F2937;
  --lightGray:#F9FAFB;
  --darkGray:#D1D5DB;
}

.climbs-page{
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.climbs-header{
  width: 100%;
  position:sticky;
  top: 0;
}

.climbs-header__top{
  display: flex;
  align-items: center;
  margin:1em 0px;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 24px;
  width: 100%;
  border-bottom: 2px solid var(--darkGray);
  
}

.climbs-header__title{
  font-size: 1.3em;
}

.climbs-header__add-btn{
  height: 2rem;
  width: 7rem;

  background-color: var(--black);
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

.climbs-header__filter{
  border-bottom: 2px solid var(--darkGray);
}

.filter{
  margin:1em 0px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-left: .5em
}


.filter__option{
  display: flex;
  gap: 1em;
}

.filter__option select{
  text-align: center;
  padding: .7em 1em;
  background-color: var(--darkGray);
  border: none;
  border-radius: 10px;
}

.filter__clear-option button{
  text-align: center;
  color: white;
  padding:.7em 1em;
  font-weight: bold;
  background-color: var(--black);
  border: none;
  border-radius: 10px;
}
/* Add Climb Form */

.Modal {
  position: fixed;         
  top: 12vh;                
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: white;
}

.climb-form {
  max-width: 500px;
  margin: 0 auto;
}

.climb-form__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.climb-form__header button{
  font-size: 1.5rem;
  color: var(--black);
  background-color: white;
  border: none;
  font-weight: bold;
  height: fit-content;
}

.climb-form__fields{
  display: flex;
  flex-direction: column;
}

.climb-form__fields label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin-bottom: .5rem;
}

.climb-form__actions{
  margin-top: 5vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.climb-form__actions button{
  width: 40%;
  padding:.7em 1em;
  font-weight: bold;
  background-color: var(--black);
  color: white;
  border: none;
  border-radius: 10px;
}

.climb-form__fields input,
.climb-form__fields select,
.climb-form__fields textarea{
  padding: .4rem;
  box-sizing: border-box;
  border-radius: 10px;
}

.climb-form__fields textarea {
  min-height: 4rem;
}