*{
  box-sizing: border-box;
  padding: 0px;
}

:root {
  font-family: "Space Grotesk", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
}

